/* Add CSS styles for your web site here and use them in index.html. */
html, body{
    background: linear-gradient(to right, #b1ecb67a 60%, #b3eab87a 35%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'open sans', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navTitle{
    flex:1 1 100%;
    text-align: center;
    font-size: 2rem;
    color: rgba(255,255,255,0.85);
    margin-bottom: 10px;

.navLinks{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex:1 1 100%
    
.navbar a{
    
    text-decoration: none;
    color: rgb(161, 223, 160);
    font-weight: bold;

}


h1{
    display: flex;
    /*background-color: rgb(0, 0, 0);*/
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: dashed;
    color: rgba(255, 255, 255, 0.762);
    font-size: medium;
}

#aboutMeSection{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
background-color: rgb(52, 119, 55);
/*border-radius: 10px;*/

}

#aboutMe{
    max-width: 600px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid rgb(31, 69, 43);
    background-color: #acc2b6;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(153, 197, 131, 0.435);
    color:rgb(38, 44, 40)
}
.photo-gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    background-color:rgb(52, 119, 55);
    
}

.gallery-img{
    width: 250px;
    height:  auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(153, 197, 131, 0.435);
}

.galler-img:hover{
    transform: scale(1.05);
}
